@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap');

.about-banner{
    width:100%;
    height:30vh;
    position: relative;
}
.about_banner_img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.banner_overlay{
    background-color: rgba(0, 0, 0, 0.4);
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    color:white;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.banner_overlay > h1{
    font-size:40px;
}
.banner_overlay > p{
    position: relative;
    bottom: 10%;
    font-size: 20px;
}
.founder-section{
    margin-top: 20px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    /* border:4px solid #083d5f; */
}
.founder-section:hover{
    transition: 0.25s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.founder-section-header{
    color:#083d5f;
    text-decoration: underline;
    text-decoration-color: #81b84d;
    text-underline-offset: 15px;
}

.founder-picture{
    width:90%;
    position: relative;
    left:10%;
}
.gradutation-icon{
    width:40px;
    margin-right: 10px;
}
.education-1{
    display: flex;
    align-items: center;
    margin-top: 10px;
    color:#083d5f;
}
.founder-info{
    margin-top: 15px;
}
.founder-education{
    display: flex;
    margin-top: 10px;
}
.company-1,.company-2,.company-3{
    background-color: #EAEAEA;
}
.company-1:hover,.company-2:hover,.company-3:hover{
    /* transform: scale(1.2); */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.25s;
}

.company-section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 2%;
}
/* .company-section p{
    text-align: center;
} */
.company-img{
    width:100%;
}
.company-text{
    padding: 20px;
}
.company-section-heading{
    margin-top: 10px;
    margin-bottom: 20px;
    color:#083d5f;
    text-decoration: underline;
    text-decoration-color: #81b84d;
    text-underline-offset: 15px;
}