.contact-banner{
    width:100%;
    height:30vh;
    position: relative;
}
.contact_banner_img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.banner_overlay{
    background-color: rgba(0, 0, 0, 0.4);
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    color:white;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.contact{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.contact > i{
    font-size: 20px;
    margin-right: 10px;
}
.contact-form > input{
    width: 100%;
    padding: 5px;
    border-radius: 10px;
}
.contact-form > textarea{
    width: 100%;
    border-radius: 10px;
}
.contact-form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.contact-form > button{
width: 100%;
padding: 5px;
border-radius: 20px;
}
.contact-section{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}
@media screen and (max-width:500px){
    .contact-section{
        flex-direction: column;
        padding: 10px;
        margin-left: 10px;
    }
    .contact-form{
        padding:10px;
    }
    .contact-form > textarea{
        padding: 5px;
    }
    .contact-form > input, .contact-form > textarea{
        width:90%;
    }
    .contact-form > button{
        width: 40%
    }
}