body{
    margin:0px;
}
.nav-container{
    margin: 1%;
}
.services-header{
    text-align: center;
    font-weight: bold;
    color: #083d5f;
    font-size: 40px;
}
.service-icon{
    width:30%;
}
.services-container{
    display: grid;
    grid-template-columns: 0.4fr 0.4fr;
    text-align: center;
}
.service{
    background-color: white;
}
.service-modal-overlay{
    background-color:rgba(0,0,0,0.5);
    position: absolute;
    width: 100%;
    height:200%;
    display: none;
    margin: 0px;
    top:0;
}
.services-modal{
    position:fixed;
    width:500px;
    height:400px;
    left:35%;
    top: 20%;
    background-color: white;
    padding: 2%;
    overflow-y: scroll;
}
.service ol li ul{
    display: block;
}
.services-modal-heading{
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #81b84d;
    text-underline-offset: 5px;
    margin-bottom: 10px;
}
.services-modal-intro{
    padding: 10px;
}
.service{
    padding:50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px;

}
.more-btn{
    padding: 5px;
    width:50%;
    border:3px solid #083d5f;
    color:#083d5f;
    background-color: white;
    font-weight: bold;
    margin-top: 10px;
}
.services-modal-top{
    display: flex;
    justify-content: space-between;
}
.services-modal-top p {
    text-align: center;
}
.services-modal li{
    margin-left: 3%;
}
.services-section{
    background-image: url("../images/services_bg\ \(2\).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top:1%;
    margin: 1%;
}
.services-container{
    margin-left: 15%;
}
.more-btn-icon{
    width:15%;
    position: relative;
    top:5px;
}
#model-x{
    width: 50px;
}

@media screen and (max-width:500px){
    .services-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px;
    }
    .service{
        width:60%;
    }
}